.sign__link {
  margin: 15px 0px 0px 0px;
  color: #fff;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  min-height: 17px;
  text-decoration: none;
  transition: opacity 0.2s;
  cursor: pointer;
}

.sign__link:hover {

  opacity: 0.6;
}