.profile__info {
  max-width: calc(100% - (120px + 150px) - 30px*2);
  margin: auto 0px auto 30px;
}

@media screen and (max-width: 1050px)  {
  .profile__info  {
    max-width: calc(100%);
    margin: 0 auto 33px auto;
  }
}
