.element__like {
  display: block;
  width: 22px;
  height: 19px;
  margin-left: 0px;
  flex-shrink: 0;
  border: none;
  background: url(../../../images/like-disable.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  transition: opacity 0.2s;
  cursor: pointer;
}

.element__like:hover {
  opacity: 0.5;
}
