.sign__error {
  width: 100%;
  display: block;
  color: #FF0000;
  font-size: 12px;
  line-height: 15px;
  margin-top: 5px;
  min-height: 25px;
  margin: 0px;
  padding: 0;
  opacity: 0;
  transition: opacity ease-in-out 0.3s;
}

.sign__error:last-of-type{
  margin-bottom: 186px;
}

@media screen and (max-width: 650px)  {
  .sign__error:last-of-type {
    margin-bottom: 15px;
  }
}
